packages:
  yum:
    amazon-linux-extras: []

container_commands:
  01_postgres_activate:
    command: sudo amazon-linux-extras enable postgresql13
  02_postgres_install:
    command: sudo yum install -y postgresql-devel
  03_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  04_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"


option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "ted_site.settings"
  aws:elasticbeanstalk:container:python:
    WSGIPath: ted_site.wsgi:application
