 /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #00e3c7;
    background-color: #13398c;
}

.tab a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

/* Style the buttons that are used to open the tab content */
.tab button, .tab a {
    color:white;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover, .tab a:hover {
    background-color: #0b2b70; 
}

/* Create an active/current tablink class */
.tab button.active, .tab a.active{
    background-color: #092561;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #00e3c7;
    border-top: none;
} 

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}