{% load stockmanagement_extras %}
<div id="{{table_id}}" class="tabcontent table-responsive">
    <h3>{{table_title}}</h3>
    <br>
    <table class="table table-bordered table-striped" height="100em">
        <thead class="table-dark">
            {% for key, _ in data.0.items %}
            {% with key|beautify_string as verbose_name %}
            {% include "stockmanagement/search_tooltip.html" with column_name=verbose_name table_id=table_id column_id=forloop.counter0 %}
            {% endwith %}
            {% endfor %}
        <thead>
        <tbody id="{{table_id}}-table" class="stock-body">
            {% for data_item in data %}
            <tr>
                {% for _, value in data_item.items %}
                <td>{{value}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $(function(){
            $(".{{table_id}}-search").on("keyup", function() {
                if($(this).val().toLowerCase() !== ""){
                    $(this).parent().addClass("searched");
                } else {
                    $(this).parent().removeClass("searched");
                }

                $("#{{table_id}}-table tr").each(function() {
                    row = $(this);
                    var is_found = true;
                    $(".{{table_id}}-search").each(function(){
                        var value = $(this).val().toLowerCase();
                        var column = $(this).attr('column-id');
                        is_found =  row.find('td').eq(column).text().toLowerCase().indexOf(value) > -1;
                        return is_found;
                    });
                    $(this).toggle(is_found);
                });
            });
        });
    </script>
</div>