{% extends 'ted_site/base_home.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'stockmanagement/css/tab_style.css' %}">
    <link rel="stylesheet" href="{% static 'stockmanagement/css/search.css' %}">
{% endblock head %}
{% block title %}
    PCElemac | Stock Management
{% endblock title %}
<!-- Tab links -->
{% block navbar_items %}
    <button class="tablinks" onclick="openStock(event, 'instock')" id="default-open">Instock</button>
    <button class="tablinks" onclick="openStock(event, 'outstock')">Outstock</button>
    <button class="tablinks" onclick="openStock(event, 'metal-instock')">Metal Instock</button>
    <button class="tablinks" onclick="openStock(event, 'metal-outstock')">Metal Outstock</button>
{% endblock navbar_items %}

{% block body %}
    <!-- Tab content -->
    {% include "stockmanagement/stock_table.html" with table_id="instock" table_title="Instock" stocks=instock supplier=True %}
    {% include "stockmanagement/stock_table.html" with table_id="outstock" table_title="Outstock" stocks=outstock supplier=False %}
    {% include "stockmanagement/stock_table.html" with table_id="metal-instock" table_title="Metal Instock" stocks=metal_instock supplier=True %}
    {% include "stockmanagement/stock_table.html" with table_id="metal-outstock" table_title="Metal Outstock" stocks=metal_outstock supplier=False %}
{% endblock body %}
{% block footer %}
    <script src="{% static 'stockmanagement/js/tab_toggle.js' %}"></script>
    <script src="{% static 'stockmanagement/js/column_search.js' %}"></script>
{% endblock footer %}