*.pyc

__pycache__/
.vscode
node_modules/
stockmanagement_bg/.env
**/.venv*

www/
*.csv

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.xlsx

**/stockmanagement_bg/static/** 