*.pyc

migrations
__pycache__/
.vscode
node_modules/
ted_site/.env
prod/.env

**/dynamoDB/*.txt
**/dynamoDB/*.jar
**/dynamoDB/DynamoDBLocal_lib

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.xlsx