asgiref>=3.8.1
bootstrap4==0.1.0
botocore>=1.35.0
cement==2.8.2
certifi>=2024.2.2
charset-normalizer>=3.3.2
colorama>=0.4.6
Django>=4.2.16
django-cors-headers>=4.3.1
django-crispy-forms>=2.3
django-filter>=23.0
django-environ>=0.11.2
django-extensions>=3.2.3
django-jsonfield>=1.4.1
django-threadlocals==0.10
djangorestframework>=3.15.2
et-xmlfile>=1.1.0
future>=0.18.3
greenlet>=3.3.2
gunicorn>=22.0.0
idna>=3.7
jdcal==1.4.1
jmespath>=1.0.1
openpyxl>=3.1.2
pathspec>=0.12.1
pipdeptree>=2.23.0
psycopg2>=2.9.11
psycopg2-binary>=2.9.11
pycparser>=2.22
python-dateutil>=2.9.0
python-decouple>=3.8
pytz>=2024.1
PyYAML>=6.0.1
requests>=2.32.2
semantic-version>=2.10.0
six>=1.16.0
sqlparse>=0.5.0
termcolor>=2.4.0
tzdata>=2024.1
wcwidth>=0.2.13
zope.event>=5.0
zope.interface>=6.4.post2

# Dev/Test dependencies
hypothesis>=6.0
hypothesis[django]